.all{
    width: 350px;
    height: auto;
    margin: 300px auto;
}

.dam{
    height: 100px;
              width: 400px;
              background: rgb(104, 70, 8);
              transform: skew(-20deg);
              margin: 20px 0 125px 0;

}

.bina{
    width: 330px;
    height: 465px;
    background-color: burlywood;
    margin: -125px 0 0 0;
    z-index: 2;
    position: relative;
    padding: 30px 0 0 20px;
    float: left;
    
}

.window1{
    width: 50px;
    height: 50px;
    border: black 1px solid;
    float: left;
    margin: 0 0 65px 0;
    background-color: lightblue;
}

.window2{
    width: 50px;
    height: 50px;
    border: black 1px solid;
    float: left;
    margin: 0 0 65px 65px;
    background-color: lightblue;
}
.window3{
    width: 50px;
    height: 50px;
    border: black 1px solid;
    float: left;
    margin: 0 0 65px 65px;
    background-color: lightblue;
}

.door{
    width: 80px; height: 110px;
     border: black solid 2px;
     margin: 350px 0 0 100px;
     background-color: cornflowerblue;

}

.window4{
    width: 50px;
    height: 50px;
    border: black 1px solid;
    float: left;
    margin: -115px 0 0 183px;
    background-color: lightblue;
}


.bina2{
    width: 100px;
    height: 493px;
    background-color: burlywood;
    border: black 1px solid;
    margin: -520px 0 0 350px;
    transform: skew(-180deg,-210deg);
   
    float: left;
    
}

