* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f1f1f0 !important;
}

body header {
  background-color: white !important;
  height: 100px;
}

body header .container {
  height: 100%;
}

body header .container .hed1 img {
  width: 170px;
  height: 55%;
  margin: 30px 0 0 100px;
}

body header .container .hed1 .hedsearch {
  height: 50%;
  width: 350px;
}

body header .container .hed1 .hedsearch .input-group-text {
  margin: 10px 0 0 0;
}

body header .container .hed1 .hedsearch input {
  height: 45px;
  background-color: #c3c8cfca;
  border-left: none;
  margin: 10px 60px 0 0;
}

body header .container .hed1 .hedsearch span {
  height: 45px;
  background-color: #c3c8cfca;
  border-right: none;
}

body header .container .hednav {
  margin-top: 25px;
}

body header .container .hednav ul li a {
  font-size: 14px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body header .container .hednav .black-white {
  margin-left: 20px;
  height: 30px;
  width: 52px;
  background: linear-gradient(45deg, #FF7D6B, #FFD64C);
  border-radius: 25px;
  position: relative;
}

body header .container .hednav .black-white .fas {
  color: white;
  font-size: 17px;
  padding-top: 7px;
}

body header .container .hednav .black-white .fa-sun {
  margin-right: 5px;
  float: right;
}

body header .container .hednav .black-white .fa-moon {
  margin-left: 5px;
}

body header .container .hednav .black-white .fa-circle {
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 22px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

body .page1 {
  width: 65%;
  height: 400px;
  background-color: white;
  margin: 10% auto;
  border-radius: 20px;
}

body .page1 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

body .page1 .container-fluid .right img {
  width: 450px;
  position: absolute;
  top: -25%;
  right: 10%;
}

body .page1 .container-fluid .right .rightwords {
  top: 80%;
  right: 1px;
  width: 355px;
  height: 80px;
  background-color: #e1e5e9;
  float: right;
  z-index: 5;
  position: absolute;
  border-radius: 10px 0 0 10px;
}

body .page1 .container-fluid .right .rightwords .sll i {
  margin: 5px 0 0 30px;
  font-size: 48px;
  color: #718096;
}

body .page1 .container-fluid .right .rightwords .sll .count {
  margin: 0 0 0 20px;
  color: #667eea;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 5px;
}

body .page1 .container-fluid .right .rightwords .sll .txt {
  font-size: 14px;
  font-weight: bold;
  color: #718096;
}

body .page1 .container-fluid .right .rightwords .fas {
  z-index: 6;
  color: black;
  width: 100px;
}

body .page1 .container-fluid .right .rightwords h4 {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #718096;
}

body .page1 .container-fluid .right .rightwords h4 strong {
  font-weight: bold;
  margin: 20px 0 0 10px;
  font-size: 23px;
  color: #667eea;
  text-align: center;
}

body .page1 .container-fluid .right .rightwords .slm {
  float: right;
}

body .page1 .container-fluid .right .rightwords .slm h4 {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: #718096;
}

body .page1 .container-fluid .right .rightwords .slm h4 strong {
  font-weight: bold;
  margin: 20px 0 0 10px;
  font-size: 23px;
  color: #667eea;
  text-align: center;
}

body .page1 .container-fluid .leftwords {
  padding: 30px 0 0 20px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
  width: 90%;
}

body .page1 .container-fluid .leftwords .learn {
  margin-top: 30px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

body .page1 .container-fluid .leftwords .learn h2 {
  font-family: 'Inter',sans-serif;
  font-weight: bold;
  line-height: 1.33;
  display: block;
  color: var(--theme-ui-colors-heading, #2d3748);
  font-weight: 900;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 40px;
  margin-bottom: 2rem;
}

body .page1 .container-fluid .leftwords .learn h2 span {
  color: #718096;
}

body .page1 .container-fluid .leftwords .learn h3 {
  font-family: 'Inter',sans-serif;
  font-weight: bold;
  line-height: 1.33;
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #718096;
  font-weight: normal;
}

body .page1 .container-fluid .leftwords .b1, body .page1 .container-fluid .leftwords .b2 {
  width: 150px;
  height: 47px;
  border-radius: 20px;
  border: none;
}

body .page1 .container-fluid .leftwords .b1 {
  color: white;
  background-color: #667eea;
  font-size: 17px;
}

body .page1 .container-fluid .leftwords .b1:hover {
  background-color: #718096;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .page1 .container-fluid .leftwords .b2 {
  background-color: #e1e5e9ca;
  border: 3px solid #c3c8cfca;
  color: #718096;
}

body .page1 .container-fluid .leftwords .b2:hover {
  border: 3px solid #667eea;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page2 {
  margin-top: 100px;
  width: 65%;
  height: 520px;
  margin: 20px auto;
}

.page2 h3 {
  margin-bottom: 50px;
  width: 100%;
  height: 32px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 4px solid #4a55687c;
}

.page2 .active {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 10px;
}

.page2 .active:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

.page2 .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 34%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page2 .owl-nav .ovl-prev {
  left: 0;
}

.page2 .owl-nav .ovl-next {
  right: 0;
}

.page2 .owl-nav button {
  background-color: #edf2f7 !important;
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page2 .owl-nav button i {
  font-size: 20px !important;
  color: #b2bbc9 !important;
}

.page2 .owl-nav button:hover {
  background-color: #4299e1 !important;
}

.page2 .owl-nav button:hover i {
  color: white !important;
}

.page2 .item img {
  border-radius: 18px;
  position: relative;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.page2 .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 18px;
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%, rgba(122, 122, 122, 0.5)), to(rgba(154, 152, 152, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(122, 122, 122, 0.5) 50%, rgba(154, 152, 152, 0.5) 100%);
}

.page2 .item .content .row {
  margin-left: 0;
  margin-right: 0;
}

.page2 .item .content .row1 button {
  width: 74px;
  height: 30px;
  border-style: none;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.page2 .item .content .row2 h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}

.page2 .item .content .row3 .img {
  border-radius: 50%;
  background-color: #c5dce4;
  width: 60px;
  height: 60px;
}

.page2 .item .content .row3 .img img {
  width: 100%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page2 .item .content .row3 .row3-1 .name p {
  font-weight: bold;
}

.page2 .item .content .row3 .row3-1 .date {
  color: #b2bbc9;
}

.page3 {
  width: 65%;
  height: 350px;
  background-color: white;
  background-image: url(../pics/downloadd.png);
  -webkit-box-shadow: 500px 500px 50px 10px rgba(255, 255, 255, 0.945) inset;
          box-shadow: 500px 500px 50px 10px rgba(255, 255, 255, 0.945) inset;
  margin: 10% auto;
  border-radius: 20px;
}

.page3 img {
  position: relative;
  bottom: 40px;
}

.page3 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page3 .container-fluid .leftwords {
  padding: 30px 0 0 20px;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
  position: relative;
  z-index: 3;
}

.page3 .container-fluid .leftwords .learn {
  margin-top: 30px;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
}

.page3 .container-fluid .leftwords .learn h2 {
  font-family: 'Inter',sans-serif;
  font-weight: bold;
  line-height: 1.33;
  display: block;
  color: var(--theme-ui-colors-heading, #2d3748);
  font-weight: 900;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 45px;
  margin-bottom: 2rem;
  color: #667eea;
}

.page3 .container-fluid .leftwords .learn h3 {
  font-family: 'Inter',sans-serif;
  font-weight: bold;
  line-height: 1.33;
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 25px;
  color: #718096;
  font-weight: normal;
}

.page4 {
  width: 65%;
  height: 400px;
  margin: 10px auto 200px auto;
  border-radius: 70px;
}

.page4 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page4 .container-fluid h3 {
  margin: 0 0 50px 0;
}

.page4 .container-fluid h3 strong {
  color: #91969e;
  font-weight: bold;
  font-size: 30px;
  margin: 0 20px 0 0;
}

.page4 .container-fluid .col-md-4 .square {
  background-color: #2965F1;
  width: 170px;
  height: 170px;
  border-radius: 7px;
  margin: 7px 0 0 7px;
  z-index: 1;
}

.page4 .container-fluid .col-md-4 .square .fab {
  z-index: 3;
  color: white;
  font-size: 50px;
  position: relative;
  left: 40%;
  top: 20%;
}

.page4 .container-fluid .col-md-4 .square h4 {
  position: relative;
  color: white;
  font-size: 18px;
  text-align: center;
  top: 30%;
}

.page4 .container-fluid .col-md-8 .card-title {
  width: 60px;
  height: 30px;
  background-color: #2965F1;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 0 0;
}

.page4 .container-fluid .col-md-8 .card-text {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Inter',sans-serif;
}

.page4 .container-fluid .col-md-8 .text-muted2 {
  float: right;
  position: absolute;
  left: 200px;
  bottom: 40px;
  font-size: 13px;
  color: #a2a3a7;
}

.page4 .container-fluid .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 20px 0  grey;
          box-shadow: 0 0 20px 0  grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page5 {
  width: 65%;
  margin: 10px auto 100px auto;
}

.page5 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page5 .container-fluid h3 {
  margin: 0 0 50px 0;
}

.page5 .container-fluid h3 strong {
  color: #91969e;
  font-weight: bold;
  font-size: 30px;
  margin: 0 20px 0 0;
}

.page5 .container-fluid .col-md-4 .square {
  background-color: #663399;
  width: 170px;
  height: 170px;
  border-radius: 7px;
  margin: 7px 0 0 7px;
  z-index: 1;
}

.page5 .container-fluid .col-md-4 .square .fab {
  z-index: 3;
  color: white;
  font-size: 50px;
  position: relative;
  left: 40%;
  top: 20%;
}

.page5 .container-fluid .col-md-4 .square h4 {
  position: relative;
  color: white;
  font-size: 18px;
  text-align: center;
  top: 30%;
}

.page5 .container-fluid .col-md-8 .card-title {
  width: 60px;
  height: 30px;
  background-color: #663399;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 0 0;
}

.page5 .container-fluid .col-md-8 .card-text {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Inter',sans-serif;
}

.page5 .container-fluid .col-md-8 .text-muted2 {
  float: right;
  position: absolute;
  left: 200px;
  bottom: 40px;
  font-size: 13px;
  color: #a2a3a7;
}

.page5 .container-fluid .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 20px 0  grey;
          box-shadow: 0 0 20px 0  grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page6 {
  width: 65%;
  margin: 10px auto 100px auto;
}

.page6 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page6 .container-fluid h3 {
  margin: 0 0 50px 0;
}

.page6 .container-fluid h3 strong {
  color: #91969e;
  font-weight: bold;
  font-size: 30px;
  margin: 0 20px 0 0;
}

.page6 .container-fluid .col-md-4 .square {
  background-color: #ecc94b;
  width: 170px;
  height: 170px;
  border-radius: 7px;
  margin: 7px 0 0 7px;
  z-index: 1;
}

.page6 .container-fluid .col-md-4 .square .fab {
  z-index: 3;
  font-size: 50px;
  position: relative;
  left: 40%;
  top: 20%;
}

.page6 .container-fluid .col-md-4 .square h4 {
  position: relative;
  font-size: 18px;
  text-align: center;
  top: 30%;
}

.page6 .container-fluid .col-md-8 .card-title {
  width: 90px;
  height: 30px;
  background-color: #ecc94b;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 0 0;
}

.page6 .container-fluid .col-md-8 .card-text {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Inter',sans-serif;
}

.page6 .container-fluid .col-md-8 .text-muted2 {
  float: right;
  position: absolute;
  left: 200px;
  bottom: 40px;
  font-size: 13px;
  color: #a2a3a7;
}

.page6 .container-fluid .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 20px 0  grey;
          box-shadow: 0 0 20px 0  grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page7 {
  width: 65%;
  margin: 10px auto 100px auto;
}

.page7 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page7 .container-fluid h3 {
  margin: 0 0 50px 0;
}

.page7 .container-fluid h3 strong {
  color: #91969e;
  font-weight: bold;
  font-size: 30px;
  margin: 0 20px 0 0;
}

.page7 .container-fluid .col-md-4 .square {
  background-color: #4299e1;
  width: 170px;
  height: 170px;
  border-radius: 7px;
  margin: 7px 0 0 7px;
  z-index: 1;
}

.page7 .container-fluid .col-md-4 .square .fab {
  z-index: 3;
  color: white;
  font-size: 50px;
  position: relative;
  left: 40%;
  top: 20%;
}

.page7 .container-fluid .col-md-4 .square h4 {
  position: relative;
  color: white;
  font-size: 18px;
  text-align: center;
  top: 30%;
}

.page7 .container-fluid .col-md-8 .card-title {
  width: 60px;
  height: 30px;
  background-color: #4299e1;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0 0 0;
}

.page7 .container-fluid .col-md-8 .card-text {
  font-weight: 600;
  font-size: 20px;
  font-family: 'Inter',sans-serif;
}

.page7 .container-fluid .col-md-8 .text-muted2 {
  float: right;
  position: absolute;
  left: 200px;
  bottom: 40px;
  font-size: 13px;
  color: #a2a3a7;
}

.page7 .container-fluid .card:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 0 20px 0  grey;
          box-shadow: 0 0 20px 0  grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page8 {
  width: 65%;
  height: 350px;
  background-color: white;
  margin: 10% auto;
  border-radius: 20px;
}

.page8 .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.page8 .container-fluid .all {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.page8 .container-fluid .all header {
  position: relative;
  top: 50px;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  color: #2d3748;
  font-weight: 600;
  font-family: 'Inter',sans-serif;
  line-height: 1.33;
  text-align: center;
  height: 30px;
}

.page8 .container-fluid .all .text {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter',sans-serif;
  color: #718096;
  margin: 0 0 50px 0;
}

.page8 .container-fluid .all input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  width: 100%;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: inherit;
  line-height: inherit;
  border: 1px solid;
  border-radius: 4px;
  color: inherit;
  background-color: transparent;
  font-family: 'Inter',sans-serif;
  border: none;
  background-color: var(--theme-ui-colors-omegaLight, #e2e8f0);
  color: var(--theme-ui-colors-omegaDark, #718096);
  outline: none;
}

.page8 .container-fluid .all button {
  width: 150px;
  height: 47px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: #667eea;
  font-size: 17px;
  margin: 20px 0 0 120px;
}

.page8 .container-fluid .all button:hover {
  background-color: #718096;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer {
  width: 100%;
  height: 300px;
  margin-top: 150px;
  background-color: white;
}

footer h5 {
  margin-top: 80px;
}

footer a {
  color: #cfcccc;
  text-decoration: none;
}

footer a:hover {
  color: #8484e6;
  text-decoration: none;
}

footer ul {
  margin-left: -35px;
}

footer ul li {
  list-style: none;
  margin-top: 10px;
}

footer .fa-github {
  color: #2c2c5c;
}

footer .fa-twitter {
  color: dodgerblue;
}

footer .fa-instagram {
  color: #be06be;
}
/*# sourceMappingURL=stil.css.map */